<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科信息</title>
    <style>
        body {
            width: 960px;
            margin: 0 auto;
        }
        .sub {
            margin: 20px 10px;
        }
    </style>
</head>
<body>
    <h1>学科信息</h1>
    <h2><a href="/demo/logout">退出登录</a></h2>
    {% for subject in subject_list %}
    <dd class="sub">
        <dt><a href="{% url 'teachers' subject.no %}">{{ subject.name }}</a></dt>
        <dd>{{ subject.intro }}</dd>
    </dd>
    {% endfor %}
</body>
</html>